<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">Principio</a></li>
             <li><a href="{{ site.baseurl }}/Nuestro-Trabajo">Nuestro Trabajo</a></li>
            <li><a href="{{ site.baseurl }}/Noticias">Noticias</a></li>
            <li><a href="{{ site.baseurl }}/Nuestros-Servicios">Nuestros Servicios</a></li>
			<li><a href="{{ site.baseurl }}/Contáctanos">Contáctanos</a></li>
          </ul>
        </div>
        <p> Diseñado &amp; Desarrollado por <a href="https://udata-aru.github.io/">Unidad de Datos-Fundación ARU</a>. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
