<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">NUESTRO EQUIPO</h3>
        
        {% for member in site.members %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
        
    </div><! --/row -->
</div><! --/container -->

<div class="container mtb">   
    <div class="row centered">
        <h3 class="mb">PERSONAL EN OPERATIVO DE CAMPO</h3>
        <h4 class="mb">BRIGADA LA PAZ</h4> 
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/1.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 1</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/2.jpg" | prepend: site.baseurl }}" alt=""> <h4>Nombre 2</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                              
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/3.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 3</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                         
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/4.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 4</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
    </div><! --/row -->
    <div class="row centered">
        <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/5.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 5</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                          
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/6.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 6</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                           
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/7.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 7</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                            
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/8.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 8</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                               
            </div><! --/col-lg-3 -->
    </div><! --/row -->
    <div class="row centered">
        <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/9.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 9</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/11.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 11</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                               
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/12.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 12</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                              
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/13.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 13</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                              
            </div><! --/col-lg-3 -->
    </div><! --/row -->
    <div class="row centered">
           
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/14.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 14</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                              
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/15.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 15</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/16.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 16</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                               
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/17.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 17</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                               
            </div><! --/col-lg-3 -->
    </div><! --/row -->
    <div class="row centered">
        
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/18.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 18</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/19.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 19</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="{{ "/assets/img/members/Encuestadores/20.jpg" | prepend: site.baseurl }}" alt="">
                <h4>Nombre 20</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
    </div><! --/row -->

    <div class="row centered">
        <h4 class="mb">BRIGADA COCHABAMBA</h4> 
            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <h4>Nombre 1</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                Nombre 2</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                              
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <h4>Nombre 3</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                         
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
               
                <h4>Nombre 4</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
    </div><! --/row -->

     <div class="row centered">
        <h4 class="mb">BRIGADA ORURO</h4> 
            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <h4>Nombre 1</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                Nombre 2</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                              
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <h4>Nombre 3</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                         
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
               
                <h4>Nombre 4</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
    </div><! --/row -->

     <div class="row centered">
        <h4 class="mb">BRIGADA POTOSI</h4> 
            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <h4>Nombre 1</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                Nombre 2</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                              
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <h4>Nombre 3</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                         
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
               
                <h4>Nombre 4</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
    </div><! --/row -->

     <div class="row centered">
        <h4 class="mb">BRIGADA CHUQUISACA</h4> 
            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <h4>Nombre 1</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                Nombre 2</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                              
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                
                <h4>Nombre 3</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                         
            </div><! --/col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-3">
               
                <h4>Nombre 4</h4>
                <h5 class="ctitle">Supervisor/Encuestador</h5>                
                                
            </div><! --/col-lg-3 -->
    </div><! --/row -->

</div><! --/container -->